.priceSection {
    /*
    Displaying the price tag and the quantity input as cells
    in a table allows me to align them perfectly vertically.
    */
    display: table;
}

.quantityInput {
    width: 3em;
    text-align: right;
    display: table-cell;
    vertical-align: bottom;
}

.priceTag {
    padding-right: 1em;
    display: table-cell;
    vertical-align: baseline;
}