@media screen and (max-width: 700px) {
    .receiptContainer {
        font-size: small;
        width: 100%;
    }
}

@media screen and (min-width: 701px) and (max-width: 1200px) {
    .receiptContainer {
        font-size: small;
        width: 75%;
        right: 0;
    }
}

@media screen and (min-width: 1201px) {
    .receiptContainer {
        font-size: normal;
        width: 60%;
        right: 0;
    }
}

.receiptContainer {
    bottom: 0;
    position: fixed;
    opacity: 0.9;
    border-radius: 15px 15px 0px 0px;
    background-color: black;
}

.receiptTable {
    width: 100%;
    text-align: center;
    color: white;
    padding: 10px;
}

.tableHeader {
    border-bottom: 1px solid white;
}

.tableTotalCell {
    font-weight: 600;
}

.tableTotalCell {
    font-size: x-large;
}