.container {
    padding: 20px;
    width: 300px;
    border-style: solid;
}

.priceSection {
    display: table;

}

.quantityInput {
    width: 3em;
    text-align: right;
    display: table-cell;
    vertical-align: bottom;
}

.priceTag {
    width: 4em;
    display: table-cell;
    vertical-align: baseline;
}

.primaryActionButton {
    padding: 0.75em;
    background-color: #ead7e5;
    font-weight: 600;
    width: 60%;
    font-size: 1em;
    
}

.secondaryActionButton {
    padding: 0.75em;
    text-decoration: underline;
}

.actionSection {
    text-align: center;
    display: block;
}

.descriptionSection {
    margin-block: 1em;
}