@media screen and (max-width: 700px) {
    .container {
        width: 100%;
    }
}

@media screen and (min-width: 701px) {
    .container {
        width: 300px;
    }
}

.container {
    padding: 20px;
    border-style: solid;
    margin: 1em;
    position: relative;
    box-shadow: 3px 3px 10px black;
}

.primaryActionButton {
    padding: 0.75em;
    background-color: #ead7e5;
    font-weight: 600;
    width: 60%;
    font-size: 1em;
}

.primaryActionButton:active {
    background-color: #e8b3da;
}

.itemTitle {
    text-overflow: ellipsis;
    overflow-x: clip;
}

.itemImageContainer {
    text-align: center;
}

.inputOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
    z-index: 2;
}

.inputEditContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3em;
    background-color: green;
    opacity: 1;
    display: flex;
    flex-flow: row;
    z-index: 3;
}

.editButton {
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}

.editWrapperHide {
    visibility: hidden;
    opacity: 0;
    transition: opacity ease 0.3s;
}

.editWrapperShow {
    visibility: visible;
    opacity: 1;
    transition: opacity ease 0.3s;
}

.inputEdit {
    flex-grow: 2;
    border-style: none;
}

.confirmEditButton {
    flex-grow: 1;
    height: 100%;
    background-color: #66b54e;
    border-style: none;
    cursor: pointer;
}

.confirmEditButton:active {
    background-color: #4f8e3c;

}

.secondaryActionButton {
    padding: 0.75em;
    text-decoration: underline;
}

.actionSection {
    text-align: center;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.descriptionSection {
    margin-block: 1em;
    margin-bottom: 6em;
    text-overflow: ellipsis;
    overflow-x: clip;
}